<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

    <title>Style Guide</title>
    <!-- DOWNLOADED LIBRARIES -->
    <script src="./js/angular.js"></script>
    <script src="./js/angular-ui-router.js"></script>
    <!--MATERIALIZE CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- endinject -->
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <!-- MATERIALIZE JS -->
    <!-- <script src="/css/materialze.min.js"></script> -->
    <!-- .js sources -->
    <!-- inject:js -->
    <script src="/public/js/adminService.js"></script>
    <script src="/public/js/angular-ui-router.js"></script>
    <script src="/public/js/angular.js"></script>
    <script src="/public/js/app.js"></script>
    <script src="/public/js/authService.js"></script>
    <script src="/public/js/blogCtrl.js"></script>
    <script src="/public/js/blogDetailCtrl.js"></script>
    <script src="/public/js/blogService.js"></script>
    <script src="/public/js/customerCtrl.js"></script>
    <script src="/public/js/customerDetailCtrl.js"></script>
    <script src="/public/js/customerService.js"></script>
    <script src="/public/js/detailCtrl.js"></script>
    <script src="/public/js/mainCtrl.js"></script>
    <script src="/public/js/productCtrl.js"></script>
    <script src="/public/js/productDetailCtrl.js"></script>
    <script src="/public/js/productService.js"></script>
    <!-- endinject -->
    <!-- <script src ="./js/app.js"></script>
    <script src ="./js/mainCtrl.js"></script>
    <script src ="./js/detailCtrl.js"></script>
    <script src ="./js/blogCtrl.js"></script>
    <script src ="./js/blogDetailCtrl.js"></script>
    <script src ="./js/productCtrl.js"></script>
    <script src ="./js/productDetailCtrl.js"></script>
    <script src ="./js/customerCtrl.js"></script>
    <script src ="./js/customerDetailCtrl.js"></script>
    <script src ="./js/authService.js"></script>
    <script src ="./js/adminService.js"></script>
    <script src ="./js/blogService.js"></script>
    <script src ="./js/productService.js"></script>
    <script src ="./js/customerService.js"></script> -->
  </head>
  <body ng-app="styleGuides" ng-controller="MainController as main">
    <nav class=" deep-purple lighten-4">
      <div class="nav-wrapper">
        <a ui-sref="all-blog-posts" class="nav-a brand-logo light-blue-text text-lighten-4">StyleGuides</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class='nav-li'><a ui-sref="blog-tools" ng-show="main.isAuthed()">Blog Tools Home</a></li>
          <li class='nav-li'><a ui-sref="product-tools" ng-show="main.isAuthed()">Shop Tools Home</a></li>
          <li class='nav-li'><a ui-sref="all-blog-posts">All Blog Posts</a></li>
          <li class='nav-li'><a ui-sref="all-products">Shop</a></li>
          <li class='nav-li'><a ui-sref="home" ng-hide="main.isAuthed()">Admin Log In</a></li>
          <li class='nav-li'><a ui-sref="home" ng-click="main.logout()"
            ng-show="main.isAuthed()">Log Out</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li class='nav-li'><a ui-sref="blog-tools" ng-show="main.isAuthed()">Blog Tools Home</a></li>
          <li class='nav-li'><a ui-sref="product-tools" ng-show="main.isAuthed()">Shop Tools Home</a></li>
          <li class='nav-li'><a ui-sref="all-blog-posts">All Blog Posts</a></li>
          <li class='nav-li'><a ui-sref="all-products">Shop</a></li>
          <li class='nav-li'><a ui-sref="home" ng-hide="main.isAuthed()">Admin Log In</a></li>
          <li class='nav-li'><a ui-sref="home" ng-click="main.logout()"
            ng-show="main.isAuthed()">Log Out</a></li>
        </ul>
      </div>
    </nav>
    <ui-view></ui-view>
    <script>
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
      })
    </script>

  </body>
</html>
