body {
  background: no-repeat center center fixed;
  background-size: cover;
  background-image: linear-gradient(
    to top right,
    #6A8AB0, #f5f5f5
    );
  font-family: 'Abel', sans-serif, solid;
}

nav {
  background-image: url("https://farm6.staticflickr.com/5730/23020055679_a0eee1491f_k.jpg");
  height: 200px;
}

.nav-li {
  margin-top: 160px;
}

.nav-a {
  margin-top: 150px;
}

.product-image {
  height: 30%;
  width: 30%;
}

.blog-card {
  margin-left: 20px;
  margin-right: 20px;
}

textarea {
  height: 350px;
}
