<h1>Update Admin Details</h1>

<div ng-if="!main.editing">
  <h1>{{ main.admin.name }}</h1>
  <h2>{{ main.admin.email }}</h2>
  <h2>{{ main.admin.password }}</h2>
  <button ng-click="main.edit()">Edit</button>
</div>

<form ng-if="main.editing" ng-submit="main.update()">
  <input ng-model="main.editingAdmin.name" type="text" placeholder="Name">
  <input ng-model="main.editingAdmin.email" type="text" placeholder="Email">
  <input ng-model="main.editingAdmin.password" type="text" placeholder="Password">
  <button type="submit">Update User!</button>
  <button ng-click="main.editing=false">Cancel</button>
</form>
