
<h4>Shop Home</h4>
<div class="row">
   <div class="col s12 m5">
     <div class="card small" ng-repeat="product in product.products | orderBy: '-created_at'">
       <div class="card-image">
         <img src={{product.image}}>
         <span class="card-title ">{{product.title}}</span>
       </div>
       <div class="card-content">
         <p>Description: {{product.description}}</p>
         <p>{{product.price | currency}}</p>
       </div>
       <div class="card-action">
         <a ui-sref="show-product({id: product._id})">See Kit in the Shop</a>
       </div>
     </div>
   </div>
 </div>
