<h4>{{ blog.title }}</h4>

<!-- <div ng-repeat="post in blog.posts">
 <a ui-sref="edit-blog-post({id: post._id})" ng-click="blog.selectPost()">{{post.title}} - Edit</a>
</div>
<br><br><br> -->


<div class="container">
  <div class="collection" >
         <a class="collection-item" ng-repeat="post in blog.posts" ui-sref="edit-blog-post({id: post._id})" ng-click="blog.selectPost()">{{post.title}} - Edit</a>
  </div>
  <div>
    <button ui-sref="create-blog-post">Write a New Post</button>
  </div>
</div>
