<h1>Customer Info!</h1>
<form ng-submit="customer.create()">
  <input type="text" ng-model="customer.newCustomer.fname" placeholder="First Name">

  <input type="text" ng-model="customer.newCustomer.lname" placeholder="Last Name">

  <input type="text" ng-model="customer.newCustomer.streetAddress" placeholder="Street Address">

  <input type="text" ng-model="customer.newCustomer.city" placeholder="City">

  <input type="text" ng-model="customer.newCustomer.state" placeholder="State">

  <input type="text" ng-model="customer.newCustomer.zip" placeholder="Zip Code"></input>

  <input type="text" ng-model="customer.newCustomer.phoneNumber" placeholder="Phone Number"></input>

  <input type="text" ng-model="customer.newCustomer.email" placeholder="Email"></input>

  <button type="submit">Submit Form</button>
  <!-- <button ng-click="blog_detail.editing=false">Cancel</button> -->
  <!-- <button ng-click="blog_detail.destroy(post._id, $index)">Delete</button> -->
</form>
