<div class="row">
  <div class="col s12">
    <div class="col s6 card blog-card" ng-if="!product_detail.editing">
      <h5>Title: {{ product_detail.title}}</h5>
      <p>Description: {{ product_detail.description}}</p>
      <p>Body: {{ product_detail.body }}<p>
      <p>Price: {{ product_detail.price | currency }}</p>
      <p>Image: {{ product_detail.image }}</p>
      <p>Amount: {{ product_detail.amount }}</p>
      <button ng-show="main.isAuthed()" ng-click="product_detail.edit()">Edit Post</button>
    </div>
  </div>
</div>
<div class="card blog-card" ng-if="product_detail.editing">
  <h1>Edit this Post!</h1>
  <form ng-submit="product_detail.update()">
    <input type="text" ng-model="product_detail.editingProduct.title" placeholder="Title">

    <input type="text" ng-model="product_detail.editingProduct.description" placeholder="Description">

    <input type="text" ng-model="product_detail.editingProduct.price" placeholder="Price">

    <input type="text" ng-model="product_detail.editingProduct.image" placeholder="Image">

    <textarea ng-model="product_detail.editingProduct.body" placeholder="Body"></textarea>

    <input type="text" ng-model="product_detail.editingProduct.amount" placeholder="Amount">

    <button type="submit">Update Kit</button>
    <button ng-click="product_detail.editing=false">Cancel</button>
    <button ng-click="product_detail.destroy()">Delete</button>
  </form>
</div>
