<h1>{{detail.title}}</h1>

<div ng-if="!main.editing">
  <h1>{{ main.edit.name }}</h1>
  <h2>{{ main.admin.email }}</h2>
  <h2>{{ main.admin.password }}</h2>
  <button ng-show="main.isAuthed()" ng-click="main.edit()">Edit</button>
</div>

<form ng-if="detail.editing" ng-submit="detail.update()">
  <input ng-model="detail.editingAdmin.name" type="text" placeholder="Name">
  <input ng-model="detail.editingAdmin.email" type="text" placeholder="Email">
  <input ng-model="detail.editingAdmin.password" type="text" placeholder="Password">
  <button type="submit">Update User!</button>
  <button ng-click="detail.editing=false">Cancel</button>
</form>
